@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ABC Books!!!</h1>
    <p>@Html.ActionLink("Click here to Login", "Login", "Customers")</p>
</div>
